<template>

    <div class="mb-2 p-2" :id="('comment-' + comment.id)">

        <div class="media">

            <img height="30px" class="d-flex mr-1 img-rounded" alt="Профиль пользователя" :src="user.avatar.icon">

            <div class="media-body">
                <div class="media-heading">
                    <div class="author">{{user.name}}</div>
                    <div class="metadata">
                        <span class="date">{{date(comment.createdAt)}}</span>
                    </div>

                    <div class="float-right metadata">
                        <span class="devide">|</span>

                        <span class="vote plus" title="Нравится" v-on:click="onVote(1)"><i class="fa fa-thumbs-up"></i></span>
                        <b class="rating" v-bind:class="{'text-success': rate > 0, 'text-danger': rate < 0, 'text-muted': rate > 0}">
                            {{rate}}
                        </b>
                        <span class="vote minus" title="Не нравится" v-on:click="onVote(-1)"><i class="fa fa-thumbs-down"></i></span>
                    </div>
                </div>
                <div class="media-text text-justify comment-text" v-html="comment.comment"></div>
                <div class="footer-comment text-right">
                    <span class="comment-reply">
                        <button v-on:click="onSetReply(comment.id, $event)" class="btn btn-sm btn-light">
                            <i class="fa fa-reply"></i> Ответить
                        </button>
                    </span>
                </div>

                <div v-if="children">
                    <comment-row
                            :rating="dataCh.rating"
                            :comment="dataCh.comment"
                            :user="dataCh.user"
                            :children="dataCh.children"
                            v-for="dataCh in children" :key="dataCh.comment.id"
                            v-on:onSetReply="onSetReply"
                    ></comment-row>
                </div>

            </div>

        </div>
    </div>

</template>

<script>
    'use strict';

    import {dateFullRus} from '../../../../../../../../assets/js/modules/Functions'
    import CommentRow from '../components/CommentRow'
    import axios from 'axios';


    export default {
        name: 'comment-row',
        components: {CommentRow},
        props: {
            rating: Object,
            comment: Object,
            user: Object,
            children: Array,
        },
        mounted() {
            console.log('mounted Row', this.comment);
        },
        computed: {
            // геттер вычисляемого значения
            rate: function () {
                return this.rating.rate;
            }
        },
        methods: {
            getId : () => {
                return 'comment-' + comment.id;
            },
            date : (date) => {
                return dateFullRus(date);
            },
            onSetReply: function (commentId) {
                this.$emit('onSetReply', commentId);
            },
            onVote(vote) {
                const data = JSON.stringify({
                    entityName: 'SkeletonBundle\\Entity\\Comment',
                    entityId: this.comment.id,
                    type: 1,
                    vote: vote
                });

                this.loading = true;
                axios
                    .post('/social/rating/api/vote', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        if (data.status) {
                            window.App.notice(data.message, 'success');

                           this.rating.rate = data.rate;
                        } else {
                            window.App.notice(data.message, 'danger');
                        }
                    })
                    .catch((error) => {
                      console.log(error);
                      this.$root.toast.error(error.toString(), {timeout: 1500})
                      this.loading = false;
                    });
            },

        }
    }
</script>
