<template>

    <div>

        <h3 class="title-comments">Комментарии ({{commentsLength}})</h3>


        <section class="container card">
            <transition-group name="list" tag="p">
                <comment-row
                        :rating="data.rating"
                        :comment="data.comment"
                        :user="data.user"
                        :children="data.children"
                        v-for="data in comments"
                        :key="data.comment.id"
                        v-on:onSetReply="onSetReply"
                ></comment-row>
            </transition-group>

        </section>


        <loading :loading="loading"></loading>

        <form @submit.prevent="onSubmitComment">

            <div class="form-group">

                <div class="alert alert-success" v-if="message">
                    {{message}}
                </div>

                <hr/>

                <transition name="bounce">
                    <div class="m-2" v-if="replyId">

                        <div class="clearfix">
                            <div class="float-left author">
                                <b>Ответ</b> {{replyComment.user.name}}
                                <button class="btn btn-sm text-danger" v-on:click="onClearReply"><i class="fa fa-minus"></i> отменить</button>
                            </div>

                            <div class="float-right metadata">
                                <span class="devide">|</span>

                                <span class="date">{{date(replyComment.comment.createdAt)}}</span>
                            </div>
                        </div>

                        <p class=" text-muted">
                            {{replyComment.comment.comment}}
                        </p>
                    </div>
                </transition>

                <label class="control-label" for="form-comment"><b>Комментарий</b></label>

                <textarea rows="6" id="form-comment" class="form-control form-control-success"
                          v-model="form.comment"
                          :class="{ 'is-invalid': $v.form.comment.$error,  'is-valid': !$v.form.comment.$error}">

                        </textarea>

                <div class="invalid-feedback" v-if="!$v.form.comment.required">
                    Данное поле обязательное для заполнения
                </div>

                <div class="invalid-feedback" v-if="!$v.form.comment.minLength">
                    Данное поле должно содержать не менее 10 символов
                </div>

            </div>


            <div class="controls-block text-center">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-check"></i> Отправить комментарий
                </button>
            </div>


        </form>


    </div>

</template>

<script>
    'use strict';

    import {dateFullRus, smoothScrollByID} from '../../../../../../../assets/js/modules/Functions'
    import CommentRow from './components/CommentRow'
    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import axios from 'axios';
    import {required, email, minLength} from 'vuelidate/lib/validators';


    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-comments",
        components: {Loading, CommentRow},
        props: {
            datEntityClass: null,
            datEntityId: null,
            type: null
        },
        data() {
            return {
                loading: true,
                form: {
                    comment: "",
                },
                commentsLength: 0,
                comments: [],
                message: null,
                replyId: null
            }
        },
        // Модель для валидации, которую Vuelidate превратит в computed-поле $v
        validations: {
            form: {
                comment: {required, minLength: minLength(10)},
            }
        },

        beforeMount: function () {
            this.entityClass = this.$el.attributes['data-entity-class'].value;
            this.entityId = this.$el.attributes['data-entity-id'].value;
            this.type = this.$el.attributes['data-type'].value;
        },
        mounted() {
            this.loadData();
        },
        computed: {
            replyComment: function () {
                if (this.replyId) {
                    return this.getReplyComment(this.replyId, this.comments);
                }
                return null;
            }
        },
        methods: {
            loadData() {
                this.loading = true;
                const data = JSON.stringify({type: this.type, entityClass: this.entityClass, entityId: this.entityId});

                axios
                    .post('/social/comments/api/get/list', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);
                        this.comments = data.comments;
                        this.commentsLength = Object.keys(this.comments).length;

                        this.initDataApp();

                        this.loading = false;
                    })
                    .catch((error) => {
                        console.log(error);
                      this.$root.toast.error(error.toString(), {timeout: 1500})
                        this.loading = false;
                    });
            },
            initDataApp() {

            },

            date: (date) => {
                return dateFullRus(date);
            },


            sendComment() {
                const data = JSON.stringify({
                    type: this.type,
                    entityClass: this.entityClass,
                    entityId: this.entityId,
                    comment: this.form.comment,
                    replyId: this.replyId
                });

                this.loading = true;
                axios
                    .post('/social/comments/api/add', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        window.App.notice(data.message, data.status ? 'success' : 'danger');

                        //this.message = data.message;

                        this.loading = false;

                        this.clearCommentForm();
                        this.loadData();

                        //this.smoothScroll('comment-' + data.id);

                        this.$v.$reset();
                    })
                    .catch((error) => {
                        console.log(error);
                      this.$root.toast.error(error.toString(), {timeout: 1500})
                        this.loading = false;
                    });
            },

            getReplyComment: function (commentId, comments) {
                let comment = null;

                console.log('test');

                Object.keys(comments).map((objectKey, index) => {
                    let value = comments[objectKey];

                    if (parseInt(value.comment.id) === parseInt(commentId)) {
                        comment = value;
                    }
                    if (!comment && value.children) {
                        comment = this.getReplyComment(commentId, value.children)
                    }
                });

                console.log('Comment', comment);

                return comment;
            },

            clearCommentForm: function (event) {
                this.form.comment = '';
                this.replyId = null;
            },

            onClearReply: function (commentId, event) {
                this.replyId = null;
            },
            onSetReply: function (commentId, event) {
                this.replyId = commentId;

                this.smoothScroll('form-comment');

                console.log('parent commentId', commentId);
            },
            onSubmitComment: function (event) {
                this.$v.form.$touch();

                if (this.$v.form.$error) {
                    return;
                }

                this.sendComment();
            },


            smoothScroll: function (eID) {
                return smoothScrollByID(eID);
            }
        }
    };

</script>
